<template>
  <vs-row>
    <vs-col vs-w="3" vs-type="flex">
      <label for="expense">Expense:</label>
      <input type="text" name="expense" id="expense">
    </vs-col>
    <vs-col vs-w="3" vs-type="flex">
      <label for="expensecost">Expense Cost:</label>
      <input type="text" name="expense" id="expensecost">
    </vs-col>
    <vs-col vs-type='flex' vs-w='3'>
        <vs-button color="primary" type="filled">Primary</vs-button>
    </vs-col>
  </vs-row>
</template>

<script>
export default {};
</script>

