<template>
  <vs-row>
    <vs-col vs-type="flex" vs-w="12">{{expenseele.name}}</vs-col>
    <vs-col vs-type="flex" vs-w="12">{{expenseele.cost}}</vs-col>
     <vs-col vs-type="flex" vs-w="12">{{expenseele.frequecy}}</vs-col>
  </vs-row>
</template>

<script>
export default {
  props: ["expenseele"]
};
</script>

