<template>
  <div>
    <expinput></expinput>
    <vs-divider position='center'>&nbsp;</vs-divider>
    <vs-col vs-w="6" vs-type="flex" :key="ele.name" v-for="(ele) in expenses">
      <expense :expenseele="ele"></expense>
    </vs-col>
    <vs-row>
      <vs-col vs-w="3" vs-type="flex">Total Cost</vs-col>
      <vs-col vs-w="3" vs-type="flex">{{totalcost}}</vs-col>
    </vs-row>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import expensecomp from "./expense/expense";
import expenseinput from "../addexpenses/addExpenses";

export default {
  computed: {
    ...mapGetters({
      expenses: "getExpenses",
      totalcost: "totalCost"
    })
  },
  components: {
    expense: expensecomp,
    expinput: expenseinput
  }
};
</script>