<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <expenses-list></expenses-list>
  </div>
</template>

<script>
import expensescomp from "./components/exspenses/expenselist";

export default {
  name: "app",
  components: {
    "expenses-list": expensescomp
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
